_/
bin/
obj/
.*
!.git*
*~
\#.\#
*.swp
*.bak
*.pdf
*.ps
*.dvi
*.info
*.install
*.class
*.out
*.o
*.gch
*.su

/dist/*/*/*
!/dist/*/*/PKGBUILD
*.gz
*.xz

/adjbacklight.aux
/adjbacklight.cp
/adjbacklight.cps
/adjbacklight.fn
/adjbacklight.ky
/adjbacklight.log
/adjbacklight.pg
/adjbacklight.toc
/adjbacklight.tp
/adjbacklight.vr
/adjbacklight.op
/adjbacklight.ops
/adjbacklight.pgs
/adjbacklight.vrs

